<!DOCTYPE html>
<html
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/authenicated.html}"
    >
<head>
<meta charset="UTF-8">
<title th:text="${title}">Detail</title>
</head>
<body>
	<div layout:fragment="content">
<!-- 		search box  -->

		<div class="card">
			<div class="card-header fw-bolder">Balance Summary</div>
			<div class="card-body">
				<form action="" class="row">
					<div class="col-auto">
						<span class="form-control">2025/10/10</span>
					</div>
					<div class="col-auto">
						<span class="form-control">Incomes</span>
					</div>
					
					<div class="col-3">
						<span class="form-control">Student Registration</span>
					</div>
					<div class="col">
						<a th:href="@{'/user/balance/edit/1'}" class="btn btn-outline-primary">Edit Detail</a>
						<a th:href="@{'/user/balance/delete/1'}" class="btn btn-outline-danger">Delete</a>
					</div>
				</form>
			</div>
		</div>

		<!-- result table  -->

		<section class="mt-4">
			<div class="card">
				<div class="card-header fw-bolder">Balance Details</div>
				<div class="card-body">
					<table class="table table-hover">
					<thead>
						<tr>
							<th>No</th>
							<th>Item</th>
							<th class="text-end">Unit Price</th>
							<th class="text-end">Quantity</th>
							<th class="text-end">Price</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Student Fees</td>
							<td class="text-end">$200</td>
							<td class="text-end">1</td>
							<td class="text-end">$200</td>
						</tr>
					</tbody>
					<tfooter>
						<tr>
							<td colspan="3" class="fw-bolder text-end">Total Amount</td>
							<td class="text-end">1</td>
							<td class="text-end fw-bolder">$200</td>
						</tr>
					</tfooter>
				</table>
				</div>
			</div>
		</section>

	</div>
</body>
</html>