<!DOCTYPE html>
<html 

    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/authenicated.html}"
    >
    
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="card">
			<div class="card-header fw-bolder">Balance Report</div>
			<div class="card-body">
				<form action="" class="row">
					<div class="col-3">
						<select name="" id="" class="form-select">
							<option value="">All type</option>
							<option value="incomes">Incomes</option>
							<option value="expenses">Expenses</option>
						</select>
					</div>
					
					<div class="col-auto">
						<input type="date" id="dateFrom" class="form-control"/>
					</div>
					
					<div class="col-auto">
						<input type="date" id="dateTo" class="form-control" />
					</div>
					
					<div class="col-auto">
						<button type="submit" class="btn btn-dark">Search</button>
					</div>
				</form>
			</div>
		</div>

		<section class="mt-4">
		    <div class="card">
		    	<div class="card-header fw-bolder">Balance Report Detail</div>
		    	<div class="card-body">
		    		<table class="table table-hover">
				        <thead>
				            <tr>
				                <th scope="col" class="text-end">No.</th>
				                <th scope="col">Date</th>
				                <th scope="col">Type</th>
				                <th scope="col">Category</th>
				                <th class="text-end" scope="col">Income</th>
				                <th class="text-end" scope="col">Expense</th>
				                <th class="text-end" scope="col">Balance</th>
				            </tr>
				        </thead>
				        <tbody>
				            <tr>
				                <td class="text-end">1</td>
				                <td>2024-01-01</td>
				                <td>Income</td>
				                <td>Salary</td>
				                <td class="text-end">$1000</td>
				                <td class="text-end">$300</td>
				                <td class="text-end">$700</td>
				            </tr>
				            <tr>
				                <td class="text-end">2</td>
				                <td>2024-01-01</td>
				                <td>Income</td>
				                <td>Salary</td>
				                <td class="text-end">$1000</td>
				                <td class="text-end">$300</td>
				                <td class="text-end">$700</td>
				            </tr>
				        </tbody>
				    </table>
		    	</div>
		    </div>
		</section>

	</div>
</body>
</html>