<!DOCTYPE html>
<html
	    xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/anonymous}"
>
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>

	<div layout:fragment="content">
		<div class="row justify-content-center align-items-center vh-100 m-0">
			<div class="col-4 text-center">
				<form th:action="@{/signin}" method="post">
                  <h2 class="fw-bolder fw-bolder my-5">Balance Management</h2>
                  <div class="card">
                  	<div class="card-header fw-bold text-start"><i class="bi-person-check"></i> Sign In</div>
                  	<div class="card-body">
                  		<div class="alert alert-info" th:if="${param.error != null}">User name or Password Incorrect.</div>
	                       <div class="mb-3 text-start">
	                            <label for="loginId" class="form-label">Login ID</label>
	                            <div class="input-group">
	                            	<span class="input-group-text">
	                            		<i class="bi-lock"></i>
	                            	</span>
	                            	<input type="text" class="form-control" id="loginId" name="loginId" placeholder="login ID" >
	                            </div>
	                        </div>
	                        <div class="mb-3 text-start">
	                            <label for="password" class="form-label">Password</label>
	                            <div class="input-group">
									<span class="input-group-text">
										<i class="bi-key"></i>
									</span>
	                            	<input type="password" class="form-control" id="password" name="password" placeholder="password" >
	                            </div>
	                        </div>
	                    
	                    <div class="text-end">
	                    	<a th:href="@{signup}" class="text-decoration-none text-end">Create new account?</a>
	                    </div>
                 	</div>

                  	<div class="card-footer text-end">
	                     <a href="" class="btn btn-outline-secondary me-2"><i class="bi bi-person-x"></i> Cancel</a>
	                     <button type="submit" class="btn btn-dark"><i class="bi-person-plus"></i> Sign In</button>
                 	</div>
                  </div>
                  </form>
              </div>
		</div>
	</div>
                                                                        
</body>
</html>