<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/anonymous}"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="row justify-content-center align-items-center vh-100 m-0">
			<div class="col-4 text-center">
                  <h2 class="fw-bolder fw-bolder my-5">Balance Management</h2>
                  <div class="card">
                  	<div class="card-header fw-bold text-start"><i class="bi-person-check"></i> Sign Up</div>
                  	<div class="card-body">
                  		<form th:action="@{/signup}" method="post" id="signupForm">
	                       <div class="mb-3 text-start">
	                            <label for="username" class="form-label">User name</label>
	                            <div class="input-group">
									<span class="input-group-text">
										<i class="bi-person-circle"></i>
									</span>
									<input type="text" class="form-control" id="username" name="username" placeholder="user name" required>
	                            </div>
	                        </div>
	                        <div class="mb-3 text-start">
	                            <label for="loginid" class="form-label">Login ID</label>
	                            <div class="input-group">
	                                <span class="input-group-text">
	                                    <i class="bi-lock"></i>
	                                 </span>
	                            	<input type="number" class="form-control" id="loginid" name="login ID" placeholder="Login ID" required>
	                            </div>
	                        </div>
	                        <div class="mb-3 text-start">
	                            <label for="password" class="form-label">Password</label>
								<div class="input-group">
									<span class="input-group-text">
										<i class="bi-lock"></i>
									</span>
									<input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
								</div>
	                        </div>
	                    </form>
	                    <div class="text-end">
	                    	<a th:href="@{signin}" class="text-decoration-none text-end">Already exist account?</a>
	                    </div>
                 	</div>

                  	<div class="card-footer text-end">
	                     <a href="" class="btn btn-outline-secondary me-2"><i class="bi-person-x"></i> Cancel</a>
	                     <button type="submit" class="btn btn-dark" form="signupForm" ><i class="bi-person-plus"></i> Register</button>
                 	</div>
                  </div>
              </div>
		</div>
	</div>
</body>
</html>