<!DOCTYPE html>
<html
	    xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/anonymous}"
>
<head>
<meta charset="UTF-8">
<title th:text="${title}">Sign</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="row justify-content-center align-items-center vh-100 m-0">
			<div class="col-4 text-center">
                  <h2 class="fw-bolder fw-bolder my-5">Balance Management</h2>
                  <div class="card">
                  	<div class="card-header fw-bold">Sign In</div>
                  	<div class="card-body">
                  		<form th:action="@{/signin}" method="post">
	                       <div class="mb-3 text-start">
	                            <label for="username" class="form-label">Username</label>
	                            <input type="text" class="form-control" id="username" name="username" required>
	                        </div>
	                        <div class="mb-3 text-start">
	                            <label for="password" class="form-label">Password</label>
	                            <input type="password" class="form-control" id="password" name="password" required>
	                        </div>
	                    </form>
	                    <div class="text-end">
	                    	<a th:href="@{signup}" class="text-decoration-none text-end">create new account?</a>
	                    </div>
                 	</div>

                  	<div class="card-footer text-end">
	                     <a href="" class="btn btn-outline-secondary me-2">Cancel</a>
	                     <button type="submit" class="btn btn-dark">Sign In</button>
                 	</div>
                  </div>
              </div>
		</div>
	</div>
                                                                        
</body>
</html>