<!DOCTYPE html>
<html
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/authenicated.html}"
>
<head>
<meta charset="UTF-8">
<title>Users Management</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="card">
			<div class="card-header fw-bolder">User Management</div>
			<div class="card-body">
				<form action="" class="row">
					<div class="col-3">
						<select name="" id="" class="form-select">
							<option value="">select status</option>
							<option value="active">Active</option>
							<option value="removed">Removed</option>
						</select>
					</div>
					<div class="col-auto">
						<input type="text" class="form-control" placeholder="username" />
					</div>
					<div class="col-auto">
						<input type="date" class="form-control" />
					</div>
					<div class="col">
						<button class="btn btn-dark"><i class="bi-search"></i> Search</button>
					</div>
				</form>
			</div>
		</div>

		<!-- result table  -->

		<section class="mt-4">
			<div class="card">
				<div class="card-header fw-bolder">User Detail</div>
				<div class="card-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Status</th>
								<th>Phone</th>
								<th>Email</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Aung Aung</td>
								<td>Active</td>
								<td>09775852415</td>
								<td>aungaung@gmail.com</td>
								<th>
									<a href="" class="btn">
										<i class="bi-trash p-2 bg-light rounded-3 border border-dark shadow-sm text-danger"></i>
									</a>
								</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>

	</div>
	
</body>
</html>